.gallery img {
display: block;
max-width: 25%;
max-height: 25%;
margin-left: 40px;
margin-bottom: 40px;
position:relative;
float: left;
}

.gallery img:hover {
  opacity: .5;
}

.clear-fix {
  clear:both;
}

.bannerflag {
  position: relative;
  left: -54px;
}

h1 {
  position: relative;
  top: -137px;
}
