.gallery {
  margin: 0 auto;
  margin-left: 70px;
  width: 90%;
}
.gallery a {
display: block;
max-width: 25%;
max-height: 25%;
margin-left: 40px;
margin-bottom: 40px;
margin-right: 10px;
position:relative;
float: left;
font-family: avenir;
font-style: oblique;
font-size: 30px;
color: white;
}

.gallery img {
  width:100%;
}
.gallery p {
  position: absolute;
  transform:translateY(-50%);
  top: 50%;
}

.gallery img:hover {
  opacity: .5;
}

.clear-fix {
  clear:both;
}
