body {
  background-color:black
}

li a {
    display: block;
    width: 120px;
}

.container img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: avenir;
  font-size: 150px;
  color:white;
}

h3 {
    font-family: avenir;
    font-size: 100px;
    color:white;
}

ul {
    font-family: avenir;
    font-size: 50px;
    color:white;
}

p.intro {
    font-family: avenir;
    font-size: 50px;
    color:white;
}

p.second {
    font-family: avenir;
    font-size: 50px;
    color:white;
}
p.coffee {
    font-family: avenir;
    font-size: 50px;
    color:white;
}
